*{margin:0px;padding: 0px;}
li{list-style: none;}
a{text-decoration: none;}
html,body,#app{
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
#el-main{padding: 0px;}
.el-main{overflow: hidden;}
.el-carousel--horizontal
{
	width: 1000px;
	height: 500px;
	margin: 20px auto;
	}
.el-carousel__container{
	width: 1000px;
	height: 450px;
}	
.el-carousel__button{
	height: 3px;

}
.el-carousel__indicators--outside button{
	background-color: #0d3f7a;
}
.el-input__inner{
	border: none;
	color:#0d3f7a;
}
.el-footer{padding: 0px 0px;}
